body {
  background-image: url('sunset.jpg');
  background-size: cover;
}

.user-avatar {
    float: left; /* Pegar la imagen a la izquierda */
    width: 20%;
    margin-right: 10px; /* Espacio entre la imagen y el texto del comentario */
    border-radius: 2rem; /* Para hacer que la imagen tenga bordes redondos (si lo prefieres) */
  }